body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #b57bff, #7a49b7);
    height: 100vh;
    font-family: "Times New Roman", serif;
    color: white;
    text-align: center;
}

.wedding-container {
    padding-top: 70px;
}

.initials {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 10px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 22px;
    margin-bottom: 50px;
}

.buttons .btn {
    display: block;
    background: rgba(255,255,255,0.15);
    border: 2px solid white;
    padding: 18px 30px;
    margin: 20px auto;
    width: 70%;
    border-radius: 15px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.25s;
    color: white;
}

.buttons .btn:hover {
    background: rgba(255,255,255,0.30);
}


